header {
  background-color: blue;
}
article {
  background-color: silver;
}
footer {
  background-image: url("footerImage.jpg");
}
a {
  font-size: 40px;
}
.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: auto auto auto;
}
div {
  border-style: dashed;
  border-width: medium;
  border-color: yellow;
}
main {
  background-color: silver;
}
label {
  border: 2px dotted Yellow;
  border-radius: 4px;
  font-size: 20px;
  color: darkblue;
}
input {
  border: 3px dotted Yellow;
  background-color: blue;
  color: yellow;
  font-size: 20px;
}
