header {
  background-color: blue;
}
article {
  background-color: silver;
}
footer {
  background-image: url("footerImage.jpg");
}
a {
  font-size: 40px;
}
.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: auto auto auto;
}
div {
  border-style: dashed;
  border-width: medium;
  border-color: yellow;
}
